*{
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    padding: 0;
}

.list__main{
    border: 1px solid #c3c3c3;
    width: 200px;
}

.hide {
    overflow: hidden;
    height: 30px;
}

.list__main > li{
    cursor: pointer;
    height: 30px;
    padding: 8px 10px;
    font-size: 16px;
    line-height: 16px;
}

.list__main > li:hover {
    background-color: #ccc;
}

.list__main > li.list__main-show:hover {
    background-color: #fff;
}

.list__main-show:after{
    left: 88%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(119, 119, 119, 0);
    border-top-color: #777777;
    border-width: 4px;
    margin-top: -4px;
}

.list__main-with_some, .list__main-without_some, .list__main-show{
    position: relative;
}

.list__main-with_some:after, .list__main-without_some:after{
    left: 88%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(119, 119, 119, 0);
    border-left-color: #777777;
    border-width: 4px;
    margin-top: -4px;
}
    
.list__second{
    display: none;
}

.show > .list__second, .show > .list__second{
    display: block;
    position: absolute;
    top: 50%;
    left: 90%;
    z-index: 10;
}

.list__second{
    background-color: #fff;
    border: 1px solid #c3c3c3;
    padding: 0px 0 1px 0;
}

.list__second li{
    height: 30px;
    font-size: 16px;
    line-height: 16px;
}

.list__second input{
    padding: 6px 10px;
}

.list__second label{
    display: block;
    cursor: pointer;
    padding: 6px 10px;
}

.list__second label:hover {
    background-color: #ccc; 
}